html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f5f7fa;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
}
.container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    padding: 80px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: red;
}

.tagline {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: red;
}

.location {
    margin-bottom: 25px;
    opacity: 0.9;
    color:#e74c3c ;
}

.btn {
    background-color: #f1c40f;
    color: #000;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #d4ac0d;
}

/* Sections */
section {
    padding: 60px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #203a43;
}

.section-text {
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}

/* Services */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.service-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.service-card h3 {
    margin-bottom: 10px;
    color: #2c5364;
}

/* Gallery */
/* Gallery layout */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* Big image */
.gallery-grid .big {
    grid-row: span 2;      /* makes it taller */
    height: 280px;
}

/* Small images */
.gallery-grid .small {
    height: 130px;
}

/* Common image styles */
.gallery-grid img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}
/* Contact */
#contact {
    background-color: #203a43;
    color: white;
    text-align: center;
}

#contact h2 {
    color: #f1c40f;
}

/* Footer */
footer {
    background: #0f2027;
    color: #aaa;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
}

/* Footer */
footer {
    background-color: #203a43;
    color:white;
    text-align: center;
}

/* Price List */
.price-list {
    text-align: center;
    margin: 40px auto;
    background-color:f5f7fa;
}

.price-list table {
    margin: 0 auto;
    border-collapse: collapse;
}

.price-list table,
.price-list th,
.price-list td {
	border:1px solid #ccc;
}

.price-list th,
.price-list td {
    padding: 8px 15px;
    text-align: left;
}

.price-list th {
    background-color: #f2f2f2;
}